{% extends 'main.html' %}

    <button>home</button>
    {% block main %}
    <a href="{% url 'main' %}"><button id="xyz">🏠</button></a>
    {% if nom == 2%}
    <form action="" method="post" enctype="multipart/form-data" onsubmit=return(chick(2))>
        {% csrf_token %}
    <input type="file" name="imp" id="ip1">
        <input type="submit" value="Send" id="ip2">
    </form>
    {% else %}
    <div id="boxs">
        <h1>Uploaded Secussfully</h1>
    <h2>The Code is:</h2>
    <h1 id="hir">{{c}}</h1>
    </div>
    {% endif %}
    {% endblock %}
